<template>
  <el-button type="button" @click="add">count is: {{ store.count }}</el-button>
  <div>number:{{ count }} || {{ store.getCount }}</div>
  <el-button @click="resetState">重置数据</el-button>
</template>

<script setup>
import { storeToRefs } from 'pinia'
import { ElMessage, ElMessageBox } from 'element-plus'
import useDemoStore from '@/store/demo.js'
import { test } from '@/api/demo'

const store = useDemoStore()
const { count } = storeToRefs(store)
test().then()
/**
 * 设置不同的修改方式
 */
const add = () => {
  // store.count++ // 直接修改
  // count.value++ // 使用ref后的数据直接修改
  // 通过$patch修改数据（可同时修改多个）
  // store.$patch({
  //   count: store.count + 5,
  // })
  // store.$patch((state) => {
  //   state.count += 10
  // })
  // 使用actions方法
  store.setCount(store.count + 1)
}
const resetState = () => {
  // 重置数据
  store.$reset()
}
// 监听整个仓库
store.$subscribe((mutation, state) => {
  console.log('数据变化信息：', mutation)
  console.log('数据：', state)
  ElMessage.info(state.count)
  ElMessageBox.confirm(state.count, 'shuju')
})
</script>

<style scoped>
a {
  color: #42b983;
}
</style>
