<template>
  <div>Home</div>
  <svg-icon name="test" />

  <divHtml />
</template>

<script setup name="Home">
import { test } from '@/api/demo'
import divHtml from './test'

test()
</script>

<style scoped></style>
